# settings
config.py
webapp/config.py
/webapp/config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env

# Cache
__pycache__/
__pycache__

# vscode
.vscode
.vscode/
vscode
vscode/

#DATA
*.db